.card-box{
    display: flex;
    justify-content: center;
    padding: 15px 15px;    
}

.my-card {
    display: flex;
    flex-direction: column;
    background-clip: border-box;
    box-shadow: 1px 1px 5px;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
    padding-bottom: 10px;
    width: 100%;
    background-color: rgb(236, 242, 248);
}
.my-card:hover {
    box-shadow: 1px 1px 5px cadetblue;
}

.card-header{
    width: 100%;
    text-align: center;
}

.img-box{
    display: flex;
    justify-content: center;
    padding: 5px;
    flex: 1;
}

.my-card-img {
    max-width: 200px;
    padding: 10px;
}

.my-card h5 {
    text-transform: capitalize;
    line-height: 20px;
    font-size: 1.2em;
}

.my-card h5>a {
    text-decoration: none;
}

.my-card ul>li>span{
    display: inline-block;
    white-space: nowrap;
    font-weight: 600;
}

.list-group-item{
    background-color: transparent !important;
}