.p-actor .search {
  flex-grow: 1;
  margin: 3px;
}

.p-actor .sort{
  width: fit-content;
  margin: 3px;
}

.p-actor .sort .arrows {
  display: flex;    
  justify-content: flex-end;
  align-items: center;
  width: fit-content;
  padding-left: 3px;
}
