.p-movie .search {
  flex-grow: 2;
}

.p-movie .sort{
  width: fit-content;
}

.p-movie .sort .arrows {
  display: flex;    
  justify-content: flex-end;
  align-items: center;
  width: fit-content;
  padding-left: 3px;
}
