@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&display=swap');

.app header{
    display: flex;
    background-color: rgb(123,142,212);
    background: linear-gradient(rgb(166, 185, 255) 20%, rgb(123, 142, 213)) content-box;
    justify-content: center;    
    width: 100%;
}

.app .header-text {   
    font-size: 4em;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    color: #2A293E;
    font-weight: lighter;
    
  }
  